@media screen and (width<=1200px) {
     .adminContainer{
        overflow: auto;
     }
     .dashboard{
    
        .widgetContainer,.transactionContainer,.graphContainer{
            justify-content: center;
            flex-wrap: wrap;
        }
        .graphContainer{
            padding: 2rem;
        }
        .transactionContainer{
            padding: 2rem;
            height: unset;
        }


     }

     .productManagement{
        padding: 2rem;

     }
     .barContainer{
       @include flex(row,flex-end,unset,0.2rem)
     }
     .bar{
        width:85%;
     }
   
}

@media screen and (width<=1100px) {
    .adminContainer{
       grid-template-columns: 1fr
       !important;
    }
    .productDetails{
        padding: 0;
        >main{
            padding: 0 2rem;
            >section{
                &:first-of-type{
                    margin-top: 5rem;
                    padding: 1rem;
                    width: 60%;
                    height: 40vh;
                }
                &:last-of-type{
                    width: 100%;
                    min-height: 60vh;
                    padding:0 4rem;
                }
                aside {
                    gap: 0.3rem !important;
                    img{
                        width: 3rem !important;
                        height: 3rem !important;
                        object-fit: contain !important;
                    }
                }
                h1{
                    font-size: 2.5rem;
                    margin-bottom: .5rem;
                }
                h3{
                   margin: 0;
                }
                p{
                    font-size: 1rem;
                }
                article{
                    margin: 1rem 0;
                    >div{
                        button{
                            font-size: 1rem;
                        }
                    }
                    button{
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .home {
        > div {
          flex-direction: column;
          > aside {
            width: 100%;
            > ul {
              flex-direction: row;
              overflow: auto;
            }
          }
        }
      }

}

@media screen and (width<= 768px) {
    .our-clients {
      padding: 2rem;
    }
    .cover-video-content{
        >span {
            font-size: 1rem !important; 
          }
    }
    
    .our-services {
      padding: 2rem;
      > ul {
        grid-template-columns: 1fr;
        gap: 4rem;
        > li {
          > section {
            > h3 {
              font-size: 1.2rem;
            }
            > p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .footer {
        .footer-row {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .footer-col h4 {
          &:after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
    
        .social-links {
          align-items: center;
        }
      }
      .cart {
        display: block;
        padding: 2rem;
    
        > main {
          width: 100%;
        }
        > aside {
        margin-top: 0 !important;
        }
      }
    
      .cartItem {
        width: 100%;
        padding: .5rem 0.3rem !important;
        margin-bottom: .5rem;
        background-color: rgba(235, 234, 234, 0.38);
        >article{
            >a{
                font-size: 1rem;
            }
        }
        > img {
          width: 3rem;
          height: 3rem;
        }
        > div {
          flex-direction: column;
          gap: 0.2rem;
        }
      }
    
      .product-search-page {
        display: block;
        padding: 0;
    
        > aside {
          @include flex(row, space-between, center);
          flex-wrap: wrap;
          box-shadow: none;
          > h2 {
            @include heading;
            font-size: 1.2rem;
          }
        }
        > main > input {
          width: 100%;
          border: 1px solid rgba(212, 212, 212, 0.379);
        }
      }
    }
    


@media screen and (width<=600px) {
    .productManagement{
        flex-direction: column;
        align-items: center;
        padding: 0;
       
        >section{
            max-width: 400px;
            box-shadow: 0 0 0 0;
        }
        >article{
            box-shadow: 0 0 0 0;
        }
    }
    @media screen and (width<=600px) {
        .reviewDialog{
           >div>h2{
                font-size: 1rem !important;
                margin: 0.2rem 0rem 1rem 7rem !important;
            }
        }
        .review{
            width: 15rem !important;
       }
    //     .mobile>section{
    //             margin-top: 25rem;
            
    //     }
        .productDetails{
            padding: 0;
            >main{
                 flex-direction: column;
                 >section{
                    &:first-of-type{
                        margin-top: 0rem;
                        width: 100%;
                    }
                    &:first-of-type{
                        align-self: center;
                    }
                    &:last-of-type{
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        >div>p{
                            //  background-color: aqua;
                            width: 15rem;
                        }
                    }
                    >article{
                        div{
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .chartContainer{
        padding: 0;
        >h1{
            margin: 0;
            text-align: center;
        }
        >section{
            margin: 8rem auto;
        }
    }
    .coupnHeading{
        text-align: center;
    }
    .dashBordAppContainer{
        .couponForm{
            display: flex;
            flex-direction: column;
        }
    }


}

@media screen and (width<=900px) {
    .revenueChart{
        padding: 0 .2rem !important;
    }
    .chartHeading{
        width: 100%;
        font-size: 1rem;
    }
}

@media screen and (width<=1050px) {
    
    .cart{
        padding: 0;
         @include flex(column,space-between,center,1rem);
        // background-color: aquamarine;
        >main {
            width: 99%;
        }
        >aside{
            // background-color: aqua;
            height: 20rem;
            width: 100% !important;
           >div{
            flex-direction: row !important;
            height: 30rem;
            gap: 1rem;
            font-size: .8rem;
           }
            
        }
    }
   
    .cartItem{
        gap: .5rem;
        padding: 0 .5rem;
        font-size: .8rem;
    }
}

@media screen and (width<=1300px){
    #home{
      
            gap: 0;
        
        >.productCard{
            height: 98%;
            padding: 1rem 0rem;
            >img{
                height: 10rem;
            }
        }
    }
}


@media screen and (width<=500px){
    .productCard{
        height:16rem;
        > img{
            height: 10rem;
     }
    } 

    .productSearchPage{
        article{
            margin-top: 1rem;
            padding: 1rem;
        }
    }
    .chart-container {
        padding: 1rem;
        .pie{
            margin: 0;
        }
        .pieHeading{
            margin: 0rem 0rem 0rem 5rem ;
            font-size: 1.1rem;
        }
       
        >h1{
            margin: 0 0 .2rem 7rem;
        }

        > section {
            margin: 1rem;
            >div{
                margin: 1rem;
            }
            >h2{
                font-size: 1rem;
                margin:0rem 0rem 0rem 2rem;
                font-weight: 700;
            }
        }
        
    }
}

// /-----------------
